*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: darkolivegreen;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box{
  border-radius: 20px;
  box-shadow: 1px 6px 5px rgba(245, 245, 220, 0.5);
  width: 50vw;
  height: 90vh;
}

h1{
  font-size: 3em;
  border-bottom: 2px solid rgb(41, 38, 38);
  color: azure;
  text-shadow: black 2px 1px;
}

button{
  font-size: 1em;
  border: none;
  box-shadow: 1px 2px 2px rgb(41, 38, 38); ;
  background-color: none;
  padding: 0.2em;
  border-radius: 2px;
  font-weight: 900;
}

button:hover{
  cursor: pointer;
}

input{
  padding: 0.5em;
  border: none;
  border-radius: 2px;
  background-color: beige;
  margin: 1.2em;
  width: 30vw;
}

h2{
  font-size: 22px;
  font-weight: 800;
}

ul{
  text-decoration: none;  
  color:beige;
  font-size: 20px;
  list-style: none;
}

li::before {
  content: "•"; color: rgb(0, 225, 255)}

  .list-item{
    margin-top: 2vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
  }
